<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
    <Properties>
        <Property name="patternfull">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </Property>
    </Properties>

    <Appenders>
        <File name="TxtFile" fileName="www/WEB-INF/logs/logs.txt" bufferedIO="true">
            <PatternLayout pattern="${patternfull}" />
        </File>
    </Appenders>

    <Loggers>
        <Logger name="by.training.log" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile" />
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="TxtFile" />
        </Root>
    </Loggers>


</Configuration>